---
import Base from '../../layouts/Base.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

function getPostUrl(post: (typeof sortedPosts)[0]) {
  const d = post.data.date;
  const year = d.getUTCFullYear();
  const month = String(d.getUTCMonth() + 1).padStart(2, '0');
  const day = String(d.getUTCDate()).padStart(2, '0');
  return `/blog/${year}/${month}/${day}/${post.data.slug}/`;
}
---

<Base title="Blog">
  <section>
    {sortedPosts.map((post) => (
      <PostCard
        title={post.data.title}
        date={post.data.date}
        href={getPostUrl(post)}
      />
    ))}
  </section>
</Base>
